# Installation

Before installing the package, you have to set the environment variable GACHOU_TESTDATA.
It should point to an empty directory on your computer.

```
export GACHOU_TESTDATA=$HOME/gachou-testdata
```

It is recommended that you set this variable on startup (e.g. in your `$HOME/.profile` or `.bashrc`).
```
npm install {{package.name}}
```
